.header{
    display: flex;
    justify-content: space-between;
    border :1px solid black
}

.logo{
    width: 8rem;

}

.nav-items >ul {

    font-size: 20px;
    display: flex;
    padding: 3px 20px;
    list-style-type: none;

}

.nav-items >ul > li {
    padding: 10px;
    margin: 10px;

}